@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko');

*{
    box-sizing: border-box;
}

body{
    /* background-color: #00181d; */
    /* background-color: #05565e; */

    /* background-image: linear-gradient(to right top, #051937, #003254, #004c60, #006457, #087a3e); */
    background-image: radial-gradient(circle, #051937, #003254, #004c60, #006457, #087a3e);
                
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center; 
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.navbar{
    background-color: black;
    display: flex;
    height: 3.5rem;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.navCenter {
    display: flex;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}
.navSearch  {
    position: absolute;
    right: 20px;
}

.responsive-iframe{
    width:44em;
    height:30em;   
}

h1{
    color: white;
    margin: 0px;
    /* padding: 0 377px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: 'Karla', sans-serif; */

}

.search{
    background-color: #00000000;
    border: 2px solid #ebc8c8d9;
    padding: 0.3rem 1rem;
    border-radius: 21px;
    color: #fffffffc;
    font-family: inherit;
    margin: 2px 26px;
    font-size: 15px;
}

.search:focus{
    outline:0;
    background-color: rgb(29, 2, 2);
}

.search::placeholder{
    color: #ffffff;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 225px;
    height: 340px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgb(0 0 0 / 10%);
    background-color: #000000eb;
    position: relative;
    overflow: hidden;
    border-radius: 11px;
}

.movie:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 4.53px 4.5px rgba(0, 0, 0, 0.5);
}

.movie img{
    width: 225px;
    height: 237px;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
}

.movie-info span{
    background-color: #00000000;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 0 1rem;
    max-height: 95%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
    font-size: 11.5px;
    margin-top: 0;
}

.movie:hover .overview{
    transform:translateY(0) ;
    box-shadow: 2px 3px 10px rgb(0, 0, 0);
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: #fffffff5;
    padding: 6px 20px;
    background-color: #000000a8;
    border-radius: 12px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    font-weight:300;
}

.tag:hover{
    font-weight:400;
    font-size: 16px;
}

.tag.highlight{
    font-weight:400;
    background-color: #912300;
}

#clear.tag.highlight{
    background-color: #75735e;
    border-radius: 15px;
    color: black;
    font-weight: 800;
}

.no-results{
    color:white;
}

.pagination{
    display:flex;
    /* margin:10px 30px; */
    align-items: center;
    justify-content: center;
    color:white;
    margin-bottom: 10px;
}

.page{
    padding:20px;
    cursor:pointer;
    font-size: 38px;
    padding-left: 15px;
    padding-right: 15px;
}

.page:hover{
    color: #ff6a00;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 22px;
    border-radius: 50%;
    border: 5px solid #ff6a00;
    font-size: 20px;
    font-weight: 600;
}

.know-more{
    background-color: orange;
    color:white;
    font-size: 12px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}
/* The Overlay (background) */
.overlay {  
    height: 100%;
    width: 0;
    position: fixed;                                    /* Stay in place */
    z-index: 1;                                         /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);                     /* Black fallback color */
    background-color: rgba(0,0,0, 0.9);               /* Black w/opacity */
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 8%;                                            /* 25% from the top */
    width: 100%;                                         /* 100% width */
    text-align: center;                                  /* Centered text/links */
    margin-top: 30px; 
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


  .embed.hide{
      display: none;
  }

  .embed.show{
      display: inline-block;
  }

  .arrow{
      position: absolute;
      font-size: 40px;
  }

  .arrow.left-arrow{
      top:50%;
      left:5%;
      transform: translateY(-50%);
      font-size: 35px;
  }
  
  .arrow.right-arrow{
    top:50%;
    transform: translateY(-50%);
    right:5%;
    font-size: 35px;
}

.dots{
    margin-top: 14px;
}

.dots .dot {
    padding: 12px 14px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    color: white;
    font-size: 25px;
    margin-top: 5px;
    font-weight: 600;
    margin: -8px;
}

.dots .dot.active{
    color: orange;
    transform: scale(2);
}
.dots .dots:hover{
    transform: scale(2);

}

@media only screen and (max-width:1340px){
    header{
        padding: 8px 20px;
        display:flex;
        justify-content: flex-end;
        background-color: black;
    } 

    h1{
        color: white;
        margin: 0px;
        padding: 0 26px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .search {
        background-color: #00000000;
        border: 2px solid #ebc8c8d9;
        padding: 0.3rem 1rem;
        border-radius: 21px;
        color: #fffffffc;
        font-family: inherit;
        margin: 4px 6px;
        font-size: 9px;
        width: 115px;
    }
    
    form {
        display: block;
        margin-top: 0rem;
    } 
}

@media only screen and (max-width:700px) {
    header{
        padding: 8px 20px;
        display:flex;
        justify-content: flex-end;
        background-color: black;
    } 
    .navbar{
        background-color: black;
        display: flex;
        height: 2.5rem;
        align-items: center;
        flex-direction: row;
        position: relative;
    }

    h1{
        color: white;
        margin: 0px;
        padding: 0 26px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .search {
        background-color: #00000000;
        border: 2px solid #ebc8c8d9;
        padding: 0.3rem 1rem;
        border-radius: 21px;
        color: #fffffffc;
        font-family: inherit;
        margin: 4px 6px;
        font-size: 9px;
    }
    
    form {
        display: block;
        margin-top: 0rem;
    }

    #tags{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 7px auto;
    }

    .tag{
        color: #fffffff5;
        padding: 4px 10px;
        background-color: #000000a8;
        border-radius: 16px;
        margin: 4px;
        display: inline-block;
        cursor: pointer;
        border: 0.5px solid black;
    }

    .responsive-iframe{
        width:25em;
        height:18em;        
   }
   .arrow.right-arrow {
        top: 56%;
        transform: translateY(-50%);
        right: 2%;
        font-size: 27px;
    }
    .arrow.left-arrow {
        top: 56%;
        left: 2%;
        transform: translateY(-50%);
        font-size: 27px;
    }

    .overlay {  
        height: 100%;
        width: 0;
        position: fixed;                                    /* Stay in place */
        z-index: 1;                                         /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0);                     /* Black fallback color */
        background-color: rgba(0,0,0, 0.9);               /* Black w/opacity */
        overflow-x: hidden; 
        transition: 0.5s; 
      }
      
      /* Position the content inside the overlay */
      .overlay-content {
        position: relative;
        top: 20%;                                            /* 25% from the top */
        width: 100%;                                         /* 100% width */
        text-align: center;                                  /* Centered text/links */
        margin-top: 30px; 
      }
      
      /* The navigation links inside the overlay */
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block; 
        transition: 0.3s; 
      }
      
      /* When you mouse over the navigation links, change their color */
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      /* Position the close button (top right corner) */
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }

      .dots{
        margin-top: 23px;
        font-size: 4px;
    }
    
    .dots .dot {
        padding: 5px 0px;
        border-radius: 50%;
        border: 5px solid var(--secondary-color);
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin: 5px;
    }
}

@media only screen and (max-width:510px){
    header{
        padding: 8px 20px;
        display:flex;
        justify-content: flex-end;
        background-color: black;
    } 

    .navbar{
        background-color: black;
        display: flex;
        height: 2.5rem;
        align-items: center;
        flex-direction: row;
        position: relative;
    }

    h1{
        color: white;
        margin: 0px;
        padding: 5px 0px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .search {
        background-color: #00000000;
        border: 2px solid #ebc8c8d9;
        padding: 0.3rem 0.5rem;
        border-radius: 21px;
        color: #fffffffc;
        font-family: inherit;
        margin: 5px -12px;
        font-size: 10px;
        width: 72px;
    }

    #tags{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        margin-top: 11px;
    }

    .tag{
        color: #fffffff5;
        padding: 4px 10px;
        background-color: #000000a8;
        border-radius: 16px;
        margin: 4px;
        display: inline-block;
        cursor: pointer;
        border: 0.5px solid black;
    }
    .tag:hover{
        font-weight:400;
        font-size: 14px;
    }
    
    .movie {
        width: 151px;
        height: 252px;
        margin: 1rem;
        border-radius: 3px;
        box-shadow: 0.2px 4px 5px rgb(0 0 0 / 10%);
        background-color: #000000eb;
        position: relative;
        overflow: hidden;
        border-radius: 11px;
    }

    .movie img{
        width: 151px;
        height: 175px;
    }
    
    .movie-info{
        color:#eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem 0rem;
        letter-spacing: 0.5px;
    }

    .movie-info h3{
        margin-top: -4px;
        font-size: 12px;
        font-weight: 500;
    }

    .responsive-iframe{
        width:18em;
        height:13em;       
   }
   .arrow.right-arrow {
        top: 42%;
        transform: translateY(-50%);
        right: 3%;
        font-size: 26px;
    }
    .arrow.left-arrow {
        top: 42%;
        left: 3%;
        transform: translateY(-50%);
        font-size: 26px;
    }

    .overview{
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        background-color: #fff;
        padding: 0 1rem;
        max-height: 95%;
        transform:translateY(101%);
        transition:transform 0.3s ease-in;
        font-size: 8px;
        margin-top: 0;
    }

    .know-more{
        background-color: orange;
        color:white;
        font-size: 7px;
        font-weight: bold;
        border:0;
        border-radius: 50px;
        padding: 5px 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .page{
        padding:7px;
        cursor:pointer;
        font-size: 16px;
    }
    
    .current{
        padding: 10px 17px;
        border-radius: 50%;
        border: 5px solid #ff6a00;
        font-size: 14px;
        font-weight: 600;
    }

    .overlay {  
        height: 100%;
        width: 0;
        position: fixed;                                    /* Stay in place */
        z-index: 1;                                         /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0);                     /* Black fallback color */
        background-color: rgba(0,0,0, 0.9);               /* Black w/opacity */
        overflow-x: hidden; 
        transition: 0.5s; 
      }
      
      /* Position the content inside the overlay */
      .overlay-content {
        position: relative;
        top: 20%;                                            /* 25% from the top */
        width: 100%;                                         /* 100% width */
        text-align: center;                                  /* Centered text/links */
        margin-top: 30px; 
      }
      
      /* The navigation links inside the overlay */
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block; 
        transition: 0.3s; 
      }
      
      /* When you mouse over the navigation links, change their color */
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      /* Position the close button (top right corner) */
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 46px;
      }

      .dots{
        margin-top: 23px;
        font-size: 4px;
    }
    
    .dots .dot {
        padding: 5px 0px;
        border-radius: 50%;
        border: 5px solid var(--secondary-color);
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin: 5px;
    }
}

@media only screen and (max-width: 360px)  {
    .navbar{
        background-color: black;
        display: flex;
        height: 2.2rem;
        align-items: center;
        flex-direction: row;
        position: relative;
    }

    h1{
        color: white;
        margin: 0px;
        padding: 5px 0px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .responsive-iframe{
        width:16em;
        height:9.5em;
          
   }
   .arrow.right-arrow {
    top: 44%;
    transform: translateY(-50%);
    right: 1%;
    }
    .arrow.left-arrow {
        top: 44%;
        left: 1%;
        transform: translateY(-50%);
    }

    .search {
        background-color: #00000000;
        border: 2px solid #ebc8c8d9;
        padding: 0.2rem 0.5rem;
        border-radius: 21px;
        color: #fffffffc;
        font-family: inherit;
        margin: 6px -17px;
        font-size: 9px;
        width: 65px;
    }
    
    form {
        display: block;
        margin-top: 0rem;
    }

    #tags{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        margin-top: 12px;
    }

    .tag{
        color: #fffffff5;
        padding: 4px 10px;
        background-color: #000000a8;
        border-radius: 14px;
        margin: 2.5px 3px;
        display: inline-block;
        cursor: pointer;
        
    }
    .tag:hover{
        font-weight:400;
        font-size: 11px;
    }
    
    .movie {
        width: 121px;
        height: 204px;
        margin: 1rem;
        border-radius: 3px;
        box-shadow: 0.2px 4px 5px rgb(0 0 0 / 10%);
        background-color: #000000eb;
        position: relative;
        overflow: hidden;
        border-radius: 11px;
    }

    .movie img{
        width: 121px;
        height: 150px;
    }
    
    .movie-info{
        color:#eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem 0rem;
        letter-spacing: 0.5px;
    }

    .movie-info h3{
        margin-top: -4px;
        font-size: 8px;
        font-weight: 500;
    }

    .overview{
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        background-color: #fff;
        padding: 0 1rem;
        max-height: 95%;
        transform:translateY(101%);
        transition:transform 0.3s ease-in;
        font-size: 7px;
        margin-top: 0;
    }

    .know-more{
        background-color: orange;
        color:white;
        font-size: 7px;
        font-weight: bold;
        border:0;
        border-radius: 50px;
        padding: 5px 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .movie-info span.green{
        color:lightgreen;
        font-size: 12px;
    }
    
    .movie-info span.orange{
        color:orange;
        font-size: 12px;
    }
    
    .movie-info span.red{
        color:red;
        font-size: 12px;
    }

    .page{
        padding:7px;
        cursor:pointer;
        font-size: 13px;
    }
    
    .current{
        padding: 10px 16px;
        border-radius: 50%;
        border: 5px solid #ff6a00;
        font-size: 11px;
        font-weight: 600;
    } 

    .overlay {  
        height: 100%;
        width: 0;
        position: fixed;                                    /* Stay in place */
        z-index: 1;                                         /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0);                     /* Black fallback color */
        background-color: rgba(0,0,0, 0.9);               /* Black w/opacity */
        overflow-x: hidden; 
        transition: 0.5s; 
      }
      
      /* Position the content inside the overlay */
      .overlay-content {
        position: relative;
        top: 20%;                                            /* 25% from the top */
        width: 100%;                                         /* 100% width */
        text-align: center;                                  /* Centered text/links */
        margin-top: 30px; 
      }
      
      /* The navigation links inside the overlay */
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block; 
        transition: 0.3s; 
      }
      
      /* When you mouse over the navigation links, change their color */
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      /* Position the close button (top right corner) */
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 36px;
      }

      .dots{
        margin-top: 23px;
        font-size: 2px;
    }
    
    .dots .dot {
        padding: 3px 0px;
        border-radius: 50%;
        border: 5px solid var(--secondary-color);
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin: 3px;
    }

}

@media only screen and (max-width: 305px){
    .navbar{
        background-color: black;
        display: flex;
        height: 2rem;
        align-items: center;
        flex-direction: row;
        position: relative;
    }

    h1{
        color: white;
        margin: 0px;
        padding: 5px 0px;
        font-size: 13px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .responsive-iframe{
        width:13em;
        height:7.5em;
          
   }
   .arrow.right-arrow {
        top: 44%;
        transform: translateY(-50%);
        right: 1%;
        font-size: 20px;
    }
    .arrow.left-arrow {
        top: 44%;
        left: 1%;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .search {
        background-color: #00000000;
        border: 2px solid #ebc8c8d9;
        padding: 0.2rem 0.3rem;
        border-radius: 21px;
        color: #fffffffc;
        font-family: inherit;
        margin: 6px -17px;
        font-size: 5.5px;
        width: 55px;
    }
    
    form {
        display: block;
        margin-top: 0rem;
    }

    #tags{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 7px;
        margin: 7px auto;
    }

    .tag{
        color: #fffffff5;
        padding: 4px 10px;
        background-color: #000000a8;
        border-radius: 16px;
        margin: 2px;
        display: inline-block;
        cursor: pointer;
        border: 0.5px solid black;
    }
    .tag:hover{
        font-weight:400;
        font-size: 8px;
    }
    
    .movie {
        width: 165px;
        height: 235px;
        margin: 1rem;
        border-radius: 3px;
        box-shadow: 0.2px 4px 5px rgb(0 0 0 / 10%);
        background-color: #000000eb;
        position: relative;
        overflow: hidden;
        border-radius: 11px;
    }

    .movie img{
        width: 165px;
        height: 175px;
    }
    
    .movie-info{
        color:#eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem 0rem;
        letter-spacing: 0.5px;
    }

    .movie-info h3{
        margin-top: -4px;
        font-size: 8px;
        font-weight: 500;
    }

    .overview{
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        background-color: #fff;
        padding: 0 1rem;
        max-height: 95%;
        transform:translateY(101%);
        transition:transform 0.3s ease-in;
        font-size: 7px;
        margin-top: 0;
    }

    .know-more{
        background-color: orange;
        color:white;
        font-size: 7px;
        font-weight: bold;
        border:0;
        border-radius: 50px;
        padding: 5px 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .movie-info span.green{
        color:lightgreen;
        font-size: 12px;
    }
    
    .movie-info span.orange{
        color:orange;
        font-size: 12px;
    }
    
    .movie-info span.red{
        color:red;
        font-size: 12px;
    }

    .page{
        padding:7px;
        cursor:pointer;
        font-size: 13px;
    }
    
    .current{
        padding: 10px 16px;
        border-radius: 50%;
        border: 5px solid #ff6a00;
        font-size: 11px;
        font-weight: 600;
    } 

    .overlay {  
        height: 100%;
        width: 0;
        position: fixed;                                    /* Stay in place */
        z-index: 1;                                         /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0);                     /* Black fallback color */
        background-color: rgba(0,0,0, 0.9);               /* Black w/opacity */
        overflow-x: hidden; 
        transition: 0.5s; 
      }
      
      /* Position the content inside the overlay */
      .overlay-content {
        position: relative;
        top: 20%;                                            /* 25% from the top */
        width: 100%;                                         /* 100% width */
        text-align: center;                                  /* Centered text/links */
        margin-top: 30px; 
      }
      
      /* The navigation links inside the overlay */
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block; 
        transition: 0.3s; 
      }
      
      /* When you mouse over the navigation links, change their color */
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      /* Position the close button (top right corner) */
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 36px;
      }

      .dots{
        margin-top: 23px;
        font-size: 2px;
    }
    
    .dots .dot {
        padding: 3px 0px;
        border-radius: 50%;
        border: 5px solid var(--secondary-color);
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin: 3px;
    }
}

footer{
    background-color: black;
    padding: 10px;
}

.footer-text, a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: white;
}
